



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid black; */
    user-select: none;
}

body {

    background-image: url("backgroundImage.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    animation: animateBackground 60s linear infinite; /* Adjust speed as needed */
}

@keyframes animateBackground {
    0% {
        background-position: 0 0; /* Start position */
    }
    100% {
        background-position: 100% 0; /* End position (move across the width of the screen) */
    }

}


.div {

    height: 350px;
    width: 700px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: end;
    align-items: center;

}

.div1 {

    height: 100%;
    width: 50%;
    /* background-color: black; */
}

.div2 {

    height: 100%;
    width: 50%;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



button {
    height: 100px;
    width: 250px;
    display: block;
    /* margin: 20px; */
    border: none;
    background-color: transparent;
    background-image: url("button.png");
    background-size: cover;
    background-position: center;
    font-size: 30px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 500;
    font-style: normal;
    cursor: pointer;
    transition: background-color 0.2s, transform 0.3s ease-in-out;
}

button:hover{
    transform: scale(0.95);
}

button:active {
    background-color: none; /* Change to white when active */
    transform: scale(1.05); /* Slightly reduce the size to simulate pressing */
}

.innerdiv1 {

    width: 100%;
    height: 85%;
    background-image: url("babydragon.png");
    background-position: center;
    background-size: cover;

}

.innerdiv2{

    width: 100%;
    height: 12%;
    background-color: #c8ff00;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.774);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.popup.visible {
    opacity: 1;
    visibility: visible;
}

.popup-content {
    background-color: #fff;
    padding: 20px 50px 20px 60px;
    border-radius: 10px;
    width: 80%;
    max-width: 500px;
    /* text-align: center; */
    position: relative;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}

.close-btn:hover{

    color: red;
}

h2{
    text-align: center;
    font-family: "Kaushan Script", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 35px;
    color: rgb(223, 126, 0);
}

.h2{
    /* background-color: red; */
    height: 80px;
    width: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("title1.png");
    background-position: center;
    background-size: cover;

}

li{
    font-family: "Kalam", cursive;
    font-weight: 400;
    font-style: normal;
}

h3{
    font-family: "Kaushan Script", cursive;
    font-weight: 400;
    font-style: normal;
    color: rgb(223, 126, 0);
    font-size: 30px;
    /* padding-bottom: 20px; */

}

.h3{
    /* background-color: red; */
    height: 80px;
    width: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("title1.png");
    background-position: center;
    background-size: cover;
    margin-bottom: 10px;

}


.popup-content1 {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 300px;
    text-align: center;
    position: relative;
}

h1{
    text-align: center;
    font-size: 28px;
    color: black;
    font-family: "Kaushan Script", cursive;
    font-weight: 400;
    font-style: normal;

}

a{
    text-decoration: none;
}